html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* overflow: hidden;
    box-sizing: border-box; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0b0b0b;
    scroll-behavior: smooth;

}

header {
    display: flex;
    flex-direction: row;
    color: #c8c6c4;
    font-weight: 900;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 0.7rem;
    padding: 0.5rem;
    letter-spacing: .15rem;
    color:rgba(128, 192, 238, 0.931);
}

header p strong {
   color: rgb(202, 116, 18);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0.7rem;
    padding: 0.5rem;
    gap: 3rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .10rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.8;
    text-decoration: none;
    text-underline-offset: 0.0rem;
}

header nav ul li a{
   color: rgb(246, 136, 10);
    text-decoration: none;
    text-underline-offset: 0.0rem;
}

header nav ul li a:active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

header nav ul li:inactive {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.content {
    display: grid;
    grid-template-columns:4rem 1fr 1fr;
    overflow: hidden;
    box-sizing: border-box;
    height: 45rem;
}

.content .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    padding-left: 1rem;
    color: #c8c6c4;
}

.content .intro h2 {
    font-size: 3.5rem;
    font-weight: 400;
}

.content .intro p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: .15rem;
    word-spacing: .12rem;
}

.content .profile-pic {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-left: 1rem;
}

.content .profile-pic img {
    width: 100%;
    max-width: 30rem;
    height: auto;
    border-radius: 0.5rem;
}

.content .sidebar {
    place-self: end;
}

.sidebar nav ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
    list-style-type: none;
    gap: 1.2rem;
}

.content .sidebar nav ul li {
    cursor: pointer;
}

.content .sidebar nav ul li img {
    width: 1.5rem;
}

.intro section em {
    line-height: 1.5;
    letter-spacing: .08rem;
    word-spacing: .04rem;
}
.intro section h2 strong {
  /* background: -webkit-linear-gradient(#23e04c, rgb(254, 136, 1)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.intro section em {
    color: rgb(215, 184, 49);
}

.intro section h4 {
    letter-spacing: .15rem;
    word-spacing: .03rem;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  max-height: 20rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
} 
.projects .project-count , .project-completed , .project-industries, .project-domains{
  color: white;
  height: 80%;
  border-radius: 0.8rem;
}

.projects .project-count h3{
  /* background: -webkit-linear-gradient(#ec36c49e, rgb(75, 72, 253)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  font-weight: 900;
  font-size: 3rem;
}
.projects .project-count h4{
  position: absolute;
  color: #c8c6c4c7;
  margin-top: 1rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  font-weight: 900;
  height: 50%;
  width: 75%;
  max-width: 10rem;
  max-height: 10rem;
  justify-self: center;
  align-self: center;
  font-size: 8rem;
}


.projects .project-completed h3{
    /* background: -webkit-linear-gradient(#ec36c49e, rgb(75, 72, 253)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  font-weight: 900;
  font-size: 2.5rem;
}
.projects .project-completed h4{
  position: absolute;
  color: #c8c6c4c7;
  margin-top: 1rem;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  font-weight: 900;
  height: 50%;
  width: 75%;
  max-width: 10rem;
  max-height: 10rem;
  justify-self: center;
  align-self: center;
  font-size: 8rem;
}

.projects .project-industries h3{
  /* background: -webkit-linear-gradient(#ec36c49e, rgb(75, 72, 253)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  font-weight: 900;
  font-size: 2.5rem;
}
.projects .project-industries h4{
  position: absolute;
  color: #c8c6c4c7;
  margin-top: 1rem;
  /* margin-right: 5rem; */
  margin-left: 5rem;
  font-weight: 900;
  height: 50%;
  width: 75%;
  max-width: 10rem;
  max-height: 10rem;
  justify-self: center;
  align-self: center;
  font-size: 8rem;
  cursor: pointer;
}

.projects .project-domains h3{
   /* background: -webkit-linear-gradient(#ec36c49e, rgb(75, 72, 253)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  margin-right: 1.2rem;
  margin-left: 1.2rem;
  font-weight: 900;
  font-size: 2.5rem;
}
.projects .project-domains h4{
  position: relative;
  color: #c8c6c4c7;
  font-weight: 900;
  height: 70%;
  width: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}
.projects .project-domains h4 ul li a{
  text-decoration: none;
  /* background: -webkit-linear-gradient(#d5e3e3e8, rgba(80, 101, 101, 0.63)); */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.projects .project-domains h4 ul li a:hover{
 text-decoration:overline;
 font-size: 1.25rem;
}
.projects .project-domains h4 ul {
      list-style: none;
      font-size: 1.2rem;
      line-height: 1.5;
      letter-spacing: 0.15em;
} 

.techSkills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: #c8c6c4c7;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}

.techSkills .mongodb {
    color: rgb(60, 187, 117);
}
.techSkills .sql {
    color:peru;
}
.techSkills .asp {
    color:rgb(63, 101, 205);
}
.techSkills .vb {
    color:rgba(83, 97, 227, 0.574);
}
.techSkills .java {
    color:rgba(163, 152, 33, 0.73);
}
.techSkills .node {
    color:rgb(23, 92, 56);
}
.techSkills .express {
    color:rgb(217, 233, 225);
}
.techSkills .vue {
    color:green;
}
.techSkills .postman {
    color:rgb(223, 101, 26);
}
.techSkills .vscode {
    color:rgba(70, 172, 245, 0.863);
}
.techSkills .vstudio {
    color:rgb(215, 104, 215);
}

.workExperience {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 90dvh;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    color: #c8c6c4;
    font-size: 0.9rem;
}

.workExperience .monaMedicosExp {
    border: 1px solid gold;
    box-sizing: border-box; 
    width: 100%;
    height: 0.1dvh;
    margin-left: 8rem;
    position: relative;
}

 .workExperience .monaMedicosExp::after { 
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  bottom: -15px;
  border-radius: 50%;
  z-index: 1;
 }
.workExperience .monaMedicosExp p {
    /* border: 1px solid gold; */
    position: absolute;
    top: 50%;  
    line-height: 1.5;
    letter-spacing: 0.1rem;
    padding-top: 2rem;
}    
.workExperience .illimitableExp {
    position: relative;
    border: 1px solid gold;
    box-sizing: border-box; 
    width: 100%;
    height: 0.1dvh;
}  
 .workExperience .illimitableExp::after { 
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  bottom: -15px;
  border-radius: 50%;
  z-index: 1;
 }
.workExperience .illimitableExp p {
    /* border: 1px solid gold; */
    position: absolute;
    bottom: 50%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;
}  
.workExperience .ancileTechExp {
    border: 1px solid gold;
    box-sizing: border-box; 
    width: 100%;
    height: 0.1dvh; 
    position: relative;
} 
 .workExperience .ancileTechExp::after { 
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  bottom: -15px;
  border-radius: 50%;
  z-index: 1;
 }
.workExperience .ancileTechExp p {
    /* border: 1px solid gold; */
    position: absolute;
    top: 50%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    padding-top: 2rem;
}     
.workExperience .superInfotechExp {
    border: 1px solid gold;
    box-sizing: border-box; 
    width: 100%;
    height: 0.1dvh;
    margin-right: 8rem;
    position: relative;
}
.workExperience .superInfotechExp::after { 
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  bottom: -15px;
  border-radius: 50%;
  z-index: 1;
 }
.workExperience .superInfotechExp p{
    /* border: 1px solid gold; */
    position: absolute;
    bottom: 50%;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    padding-bottom: 2rem;

}
 
footer hr {
width: 80%;
margin-top: 3.5rem;
box-shadow: 1.5px 1.5px 1.5px 1.5px #23e04c;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c8c6c4;
    margin-top: 0.5rem;
}

.contact h4 {
    font-size: 1rem;
    letter-spacing: 0.6rem;
}
.contact hr {
   width: 28%;
}
.contact #connectForm {
   padding-top: 0.5rem;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.contact #connectForm input {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #f2efece3;
    color: rgb(232, 147, 35);
    width: 15rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(232, 147, 35);
    border-style: outset ;
    /* box-shadow: 2.5px 2.5px 5px 1px rgb(232, 147, 35); */
}
.contact form button {
    width: 5.5rem;
    height: 2.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eb7210;
    color: antiquewhite;
    font-weight: 600;
    border: 2px solid rgb(232, 147, 35);
    border-style: outset ;
    cursor: pointer;
}

















@media(max-width: 600px) {
    header{
      display: grid;
      grid-template-columns:1fr;
      justify-items: center;
      align-items: center;
    } 
    header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.5rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .08rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 2;
}
    .content {
        grid-template-columns:1fr;
        height: 80rem;
        margin-left: 1.8rem;
        margin-right: 1.8rem;
    }
    .projects {
       grid-template-columns: 1fr;
       max-height: 150rem;
    }
    .projects .project-count  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .projects .project-count h3 {
        font-size: 1.5rem;
        height: auto;
        width: auto;
        margin-right: 10rem;
        margin-left: 2.5rem;
    }
    .projects .project-count h4 {
        font-size: 2rem;
        height: auto;
        margin-left: 10rem;
        margin-top: 2.5rem;
        width: auto;
    }

    .projects .project-completed  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .projects .project-completed h3 {
        font-size: 1.5rem;
        height: auto;
        width: auto;
        margin-right: 10rem;
        margin-left: 2.5rem;
    }
    .projects .project-completed h4 {
        font-size: 2rem;
        height: auto;
        margin-left: 10rem;
        margin-top: 2.5rem;
        width: auto;
    }

    .projects .project-industries  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
    }
    .projects .project-industries h3 {
        font-size: 1.5rem;
        height: auto;
        width: auto;
        margin-right: 10rem;
        margin-left: 2.5rem;
    }
    .projects .project-industries h4 {
        font-size: 2rem;
        height: auto;
        margin-left: 10.5rem;
        margin-top: 2.5rem;
        width: auto;
    }

    .projects .project-domains  {
        display: grid;
        grid-template-rows: 1fr 1fr;
        max-height: 350px;
    }
    .projects .project-domains h3 {
        font-size: 1.5rem;
        height: 25px;
        width: 250px;
    }
    .projects .project-domains h4 {
        font-size: 2rem;
        height: auto;
    }
    .projects .project-domains h4 ul li a{
        text-decoration: none;
     }
    .projects .project-domains h4 ul li a:hover{
        text-decoration:overline;
        font-size: 1.25rem;
    }
    .techSkills {
        line-height: 0%;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        padding: 0%;
    }

    .workExperience {
    display: none;
    }


    .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #c8c6c4;
    margin-top: 2.5rem;
}
.contact h4 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
}
.contact hr {
   width: 28%;
}
.contact div {
   padding-top: 0.5rem;
   width: 40%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.contact div input {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: #f2efece3;
    color: rgb(232, 147, 35);
    width: 17.5rem;
    border-radius: 0.5rem;
    border: 2px solid rgb(232, 147, 35);
    border-style: outset ;
    /* box-shadow: 2.5px 2.5px 5px 1px rgb(232, 147, 35); */
}
.contact div button {
    width: 5rem;
    height: 2.2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    background-color: #eb7210;
    color: antiquewhite;
    font-weight: 600;
    border: 2px solid rgb(232, 147, 35);
    border-style: outset ;
}
.contact h5 {
    margin-right: 3rem;
    margin-left: 3rem;
    text-align: center;
}


   
}


