html, body {
    margin: 0;
    padding: 0;
    height: auto;
    /* overflow: hidden;
    box-sizing: border-box; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    scrollbar-width:none;
    background-color: rgba(241, 231, 231, 0.541);
    /* background-image: url(../utlities/images/vintage-pink-telephone-composition.jpg);
    background-size: cover;       
    background-repeat: no-repeat;  
    background-position: center; */
}


header {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 0.7rem;
    padding: 0.5rem;
    letter-spacing: .15rem;
    color:rgb(93, 142, 177);
    cursor: pointer;
}

header p strong {
   color: rgb(190, 109, 17);
}

header p:hover {
   cursor: pointer;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0.7rem;
    padding: 0.5rem;
    gap: 3rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .10rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.8;
    text-decoration: none;
    text-underline-offset: 0.0rem;
}

header nav ul li a{
   color: rgb(192, 108, 12);
    text-decoration: none;
    text-underline-offset: 0.0rem;
    font-weight: 600;
}

header nav ul li a:active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

header nav ul li:inactive {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.content {
    display: grid;
    grid-template-columns:1fr;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    justify-items: center;
}

.content .sidebar {
    place-self: end;
}

.sidebar nav ul {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
    list-style-type: none;
    gap: 1.2rem;
}

.content .sidebar nav ul li {
    cursor: pointer;
}

.content .sidebar nav ul li img {
    width: 1.5rem;
}

.content .contactForm {
    box-shadow: 2.5px 0.5px 5px 0px #be5b42d0;
    background: rgba(255, 255, 255, 0.15); /* semi-transparent background */
    color: #ffffffde; /* light text */
    border-radius: 2em; /* slightly smaller for modern feel */
    width: 100%;
    height: auto;
    max-width: 65em;
    margin: 1.5em;
    padding: 2em;
    box-sizing: border-box;
}

.content .contactForm h2{
    /* color: rgb(131, 127, 127); */
    color: #4c707c;
    justify-self: start;
    font-size: 3.5em;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:normal;
    margin-bottom: 0.7em;
    font-weight: 900;
}

.content .contactDetails{
    display: grid;
    grid-template-columns: 22em 1fr;
    justify-items: center;
    align-items: center;
}

.content .contactDetails .addressDetails p{ 
    justify-self: center;
    align-items: center;
    line-height: 2;
    color: #be5b42d0;
    letter-spacing: 0.02em;
    font-weight: 600;
    b {
        color: #4c707cda;
        font-weight: 800;
    }
    height: 100%;
    background: rgba(255, 255, 255, 0.15); /* semi-transparent background */
    border-radius: 2em;
    /* box-shadow: 2.5px 0.5px 5px 0px #be5b42d0; */
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.content .contactDetails .addressDetails p:hover{ 
    box-shadow: 3px 1px 10px 0px #be5b42d0;
    transition: all 0.5s ease-in-out;
}

.content .contactDetails .emailForm { 
    display: flex;
    flex-direction: column ;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        margin: 0.6em;
        padding: 0.6em;
        label {
            font-size: 0.88em;
            font-weight: 600;
            margin: 0.2em;
            letter-spacing: 0.125em;
            color: #be5b42d0;
        }

        input[type=email]{
            border-radius: 0.45em;
            height: 2em;
            margin: 0.15em;
            font-size: 0.90em;
            font-weight: 600;
            letter-spacing: 0.125em;
            text-indent: 0.15em;
            color: #4c707c;
            border: 0.015px #be5b42d0;
            outline: none;
            margin-bottom: 0.25em;
            background-color: #f3e2dd59;
        }

        input[type=email]:focus {
            border: 0.5px #c8c6c4;
        }
        input[type=email]::placeholder {
            color: #4c707c;
        }

        textarea  {
             border-radius: 0.45em;
            height: 12em;
            font-size: 1.2em;
            font-weight: 600;
            letter-spacing: 0.125em;
            line-height: 1.7;
            text-indent: 0.25em;
            color: #4c707c;
            border: 0.5px  #c8c6c4;
            outline: none;
            margin-left: 0.33em;
            margin-right: 0.15em;
            margin-top: 0.15em;
            margin-bottom: 0.15em;
            background-color: #f3e2dd59;
        }

        button[type=submit] {
            border-radius: 0.45em;

            height: 2.5em;
            margin-top: 0.65em;
            font-size: 0.95em;
            font-weight: 800;
            letter-spacing: 0.125em;
            text-indent: 0.15em;
            color: white;
            border: 0.5px outset #c8c6c4;
            background-color: #4c707c;
            outline: none;
        }
    }
}

.content .sidebarChatbot {
    place-self: start;
    position: fixed;
    width: 8rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    z-index: 1000;
    margin-bottom: 5em;
    margin-right: 1.2em;
    border-radius: 15em;
}

.content .sidebarChatbot:hover {
    cursor: pointer;
}


    footer .trademark {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-right: 0.3em;
        margin-left: 0.3em;
        color: #7d858b;
    }



    


@media(max-width: 600px) {
    header{
      display: grid;
      grid-template-columns:1fr;
      justify-items: center;
      align-items: center;
    } 
    header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.5rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .08rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 2;
}
    .content {
        grid-template-columns:1fr;
        height: 68rem;
    }

    .content .contactDetails{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    margin-right: 1.5rem;
}

    .content .contactForm h2{
        font-size: 2.5em;
        letter-spacing: 0.125;
    }

    .content .contactDetails .emailForm { 

        form {
            display: flex;
            flex-direction: column;
            margin: 0em;
            padding: 0em;
        }
    }

    footer .trademark {
        justify-self: center;
        text-align: center;
        width: 25em;
        margin-right: 0.3em;
        margin-left: 0.3em;
        color: #7d858b;
    }
}