html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0b0b0b;
    scroll-behavior: smooth;
    scrollbar-width:none;
    overflow: hidden;
}

header {
    display: flex;
    flex-direction: row;
    color: #c8c6c4;
    font-weight: 900;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 0.7rem;
    padding: 0.5rem;
    letter-spacing: .15rem;
    color:rgba(128, 192, 238, 0.931);
}

header p strong {
   color: rgb(202, 116, 18);
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0.7rem;
    padding: 0.5rem;
    gap: 3rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .10rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 1.8;
    text-decoration: none;
    text-underline-offset: 0.0rem;
}

header nav ul li a{
   color: rgb(246, 136, 10);
    text-decoration: none;
    text-underline-offset: 0.0rem;
}

header nav ul li a:active {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
    box-sizing: border-box;
}

.contentDetails {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    margin-bottom: 5.5em;
}


/* .contentDetails h2 {
    font-size: 1.2em;
    letter-spacing: 0.55em;
    color:rgba(52, 154, 228, 0.931);
    font-weight: 900;
}


.contentDetails h2 p strong {
   color: rgb(202, 116, 18);
} */

.contentDetails h3 {
    font-size: 3em;
    letter-spacing: 0.10em;
    color: #0966b3;
    font-weight: 900;
    margin-left: 1.5em;
}

.contentDetails h3 p strong {
   color: rgb(202, 116, 18);
}


.contentUpdateDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    /* background-image: linear-gradient(to bottom , #0966b3, #0966b3,rgb(235, 230, 230)) ; */
    border-radius: 50px 0px 50px 0px;
    margin: 1.5em;
    padding: 2.15em;
    border-style: outset; 
     background: rgba(255, 255, 255, 0.05); /* slightly lighter background */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 50px 0px 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.18);
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    margin-bottom: 5.5em;    margin-top: 5.5em;
}

.contentUpdateDetails h2{
    font-size: 2.2em;
    letter-spacing: 0.25em;
    color:white;
    font-weight: 700;
    margin-top: -0.5rem;
    margin-bottom: 2rem;
}


.contentUpdateDetails form section {
    display: flex;
    flex-direction: column;
    padding: .15em;
    margin: 0.1em;
}

.contentUpdateDetails form .signupNameDetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5em;
}


.contentUpdateDetails form section label {
    font-size: 0.74em;
    font-weight: 600;
    padding: 0.15em;
    margin: 0.10em;
    letter-spacing: 0.12em;
    color: white;
    
}

.contentUpdateDetails form section input {
    height: 2.2em;
    width: auto;
    padding: 0.18em;
    margin: 0.18em;
    border-radius: 0.40em;
    border-style: outset;
    font-size: 0.75em;
    background-color: white;
    letter-spacing: 0.22em;
    color:rgb(4, 97, 173);
    font-weight: 700;
    border: none;
    outline: none;
    text-align:justify;
    text-indent: 0.5em;
    
}
.contentUpdateDetails form section input::placeholder{
    color: rgba(141, 138, 138, 0.568);
}

.contentUpdateDetails form section button {
    height: 3.2em;
    width: 100%;
    max-width: 700px;
    border-radius: 0.6em;
    background-color: #0966b3;
    color: #eff2f3;
    font-size: 0.75em;
    margin-top: 2.15rem;
    margin-bottom: 1.15rem;
    letter-spacing: 0.15rem;
    box-shadow: 0px 0px 4px 0px;
    font-weight: 900;
    border:none;
}

.contentUpdateDetails form section button:hover {
    box-shadow: 0px 0px 10px 0px ;
    cursor: pointer;
}

.contentUpdateDetails form section label a {
    text-decoration: none;
    color: #07728d;
    font-size: 1.18em;
    margin-left: 0.6em;
    margin-right: 0.6em;
    letter-spacing: 0.12em;
}


@media(max-width: 700px) {
    ** {
        box-sizing: border-box;
        /* overflow: hidden; */
    }
    header{
      display: grid;
      grid-template-columns:1fr;
      justify-items: center;
      align-items: center;
    } 
    header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.5rem ;
    list-style-type: none;
    cursor: pointer;
    letter-spacing: .08rem;
    font-weight: 400;
    font-size: 0.95rem;
    line-height: 2;
}

    .content {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 500px; */
    justify-self: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 300px;
    width: 500px;
   }
   .contentDetails {
    width: auto;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-top: 2.5em;
    margin-bottom: 5.5em;
    margin-right: 0.5em;
    align-self: center;
    text-align: center;
}

    .contentDetails h3 {
        font-size: 2.5rem;
        letter-spacing: 0.25rem;
        color: #0966b3;
        font-weight: 900;
    }

    .contentUpdateDetails form .signupNameDetails {
        flex-direction: column;
    }
    .contentUpdateDetails form section button {
    width:auto;
}
}